@import '../../common/scss/vars.scss';
@import '../../common/scss/theme.scss';

.home {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  @include customize() {
    color: getValue(primaryColorLightText);
  }
  &__randomBlock{
    text-align: end;
    margin-right: 50px;
  }
  &__inputBlock{
    margin-left: 10px;
    max-width: 500px;
    &__input {
      input {
        height: 40px;
        padding: 0;
      }
    }
  }
}
